.App {
  font-family: sans-serif;
}

/* .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 1000px;
  height: 200px;
  text-align: left;
} */

.card {
  display: inline-block;
}

.icbutton {
  color: red;
}

/* .improvStage {
  width: 1000px;
  height: 800px;
  display: inline-block;
}

#stageParent {
  border: 1px solid black;
  width: 50%;
}

.HistoryBar {
  width: 20%;
  float: left;
  padding: 10px;
  border: 2px solid red;
}

.mainSpace {
  width: 80%;
  float: left;
  padding: 10px;
  border: 2px solid blue;
}

.layoutDiv {
  border: 1px solid black;
  width: 100px;
  height: 800px;
  display: inline-block;
} */

.hiddenDiv {
  display: none;
}

.col-xs-8 {
  display: inline-block;
  margin: 0;
}
.col-xs-4 {
  display: inline-block;
  margin: 0;
}
