.App {
  font-family: sans-serif;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 1000px;
  height: 200px;
  text-align: left;
}

.card {
  display: inline-block;
}

.icbutton {
  color: red;
}

.improvStage {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.layoutDiv {
  border: 1px solid black;
  width: 100px;
  height: 800px;
  display: inline-block;
}

.hiddenDiv {
  display: none;
}

.col-sm-8 {
  display: inline-block;
  margin: 0;
}
.col-sm-4 {
  display: inline-block;
  margin: 0;
}
